Source: libvmod-shield
Section: web
Priority: extra
Maintainer: Varnish Software <support@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils
Standards-Version: 3.8.1
Vcs-Git: git://github.com/varnish/libvmod-shield.git

Package: libvmod-shield
Architecture: any
Depends: varnish, ${Varnish:ABI}, ${misc:Depends}
Description: DDoS shield VMOD for Varnish
